section h1 {
  color: #4A4238;
  text-align: center;
  padding-top: 1em;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 3rem;
  margin-bottom: 3rem;
  padding: 0 2em ;
}

.content-p {
  letter-spacing: 0.05em;
  text-align: justify;
  color: #1F330A
}